<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
    integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/admin/dashboard">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/index">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Managment<i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/userMangment">User Managment</a>
                                <a class="dropdown-item" href="/admin/manageProduct">Product Managment</a>
                                <a class="dropdown-item" href="/admin/orders">Order Managment</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product/product">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/admin/coupon">
                                <i class="far fa-user"></i>
                                Coupen
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/banner/setBanner">
                                <i class="far fa-user"></i>
                                Banners
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/banner/sethero">
                                <i class="far fa-user"></i>
                                Sub banners
                            </a>
                        </li>
                       
                        
                     
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin/adminLogout">
                             <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
              <!-- Sale & Revenue Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">Rs.<%= todaySale %>.00</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">Rs.<%= totalSale %>.00 </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">Rs.<%= todayRevenue %>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">Rs.<%= totalRevenue %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<input type="hidden" name="" id="array" value="<%= values %> ">
<input type="hidden" name="" id="revenue" value="<%= revenue %> ">
<input type="hidden" name="" id="ordered" value="<%= ordered %> ">
<input type="hidden" name="" id="packed" value="<%= packed %> ">
<input type="hidden" name="" id="shipped" value="<%= shipped %> ">
<input type="hidden" name="" id="delivered" value="<%= delivered %> ">
<input type="hidden" name="" id="cancelled" value="<%= cancelled %> ">



            <div class="col">
                <p class="text-white mt-5 mb-5"> <b>Admin</b></p>
            </div>
        </div>
    


    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="tm-bg-primary-dark text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Daily Sales</h6>
                    </div>
                    <canvas id="worldwide-sales" height="300"></canvas>
                </div>
                <button class="mt-2" style="float: right; border-style:none" onclick="downloadPDF()">
                    Download PDF
                </button> 
            </div> 




            <div class="col-sm-12 col-xl-6">
                <div class="tm-bg-primary-dark text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Sales & Revenue</h6>
                    </div>
                    <canvas id="orderStatusChart" height="300"></canvas>
                </div>
                <button class="mt-2" style="float: right; border-style:none" onclick="downloadSecPDF()">
                    Download PDF
                   </button>
            </div>
        </div>
    </div>


                       
                    </div>
                </div>
            </div> 



         <!-- order chart -->
            
            <div class="col-12 tm-block-col mt-5">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll html-content">
                    <h2 class="tm-block-title">Orders List</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Invoice</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let item of completed) { %>
                                <tr>
                                    <td>
                                        <%= item._id %>
                                    </td>
                                    <td>
                                        <%= item.address%>
                                    </td>
                                    <td>Rs.<%= item.bill %>.00 </td>
                                    <td>Paid</td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                
                <button class="mt-2" style="float: right; border-style:none"  onclick="CreatePDFfromHTML()">
                    Download PDF
                   </button>
            </div>
            </div>
        </div>
        
        <footer class="tm-footer row tm-mt-small mt-5">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved.
                    
                    
                </p>
            </div>
        </footer>
    </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>
     <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script> 

<script>
    function downloadPDF() {
        const canvas = document.getElementById('worldwide-sales')
        const canvasImage = canvas.toDataURL('image/jpeg', 1.0)
        let pdf = new jsPDF('landscape')
        pdf.setFontSize(20)
        pdf.addImage(canvasImage, 'JPEG', 15, 15, 265, 150)
        pdf.save('salesrecord.pdf')
    }
    function downloadSecPDF() {
        const canvas = document.getElementById('orderStatusChart')
        const canvasImage = canvas.toDataURL('image/jpeg', 1.0)
        let pdf = new jsPDF('landscape')
        pdf.setFontSize(20)
        pdf.addImage(canvasImage, 'JPEG', 15, 15, 265, 150)
        pdf.save('revenuerecord.pdf')
    }



    function downloadThePDF() {
        const canvas = document.getElementById('worldwide-report')
        const canvasImage = canvas.toDataURL('image/jpeg', 1.0)
        let pdf = new jsPDF('landscape')
        pdf.setFontSize(20)
        pdf.addImage(canvasImage, 'JPEG', 15, 15, 265, 150)
        pdf.save('salesreport.pdf')
    }
</script>

<script>

// Worldwide Sales Chart
    const value = document.getElementById('array').value

   console.log(value)
   let array =[]
   for(let i=0;i<value.length; i++){
        array.push(parseInt(value[i]))
   }

    console.log(array)
    
    var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
    
    var myChart1 = new Chart(ctx1, {
        
        type: "bar",
        data: {
            labels: ["Day1", "Day2", "Day3", "Day4", "Day5", "Day6", "Day7"],
            datasets: [{
                label: "Last 7 Days",
                data: [...value],
                backgroundColor: "rgba(0, 156, 255, .7)"
            }
            
        ]

            },
        options: {
            responsive: true
  }
});

</script>

<script>
    //Create PDf from HTML...
    console.log("create fdr form html part")
  function CreatePDFfromHTML() {
      console.log("pdf working")
      var HTML_Width = $(".html-content").width();
      var HTML_Height = $(".html-content").height();
      var top_left_margin = 15;
      var PDF_Width = HTML_Width + (top_left_margin * 2);
      var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
      var canvas_image_width = HTML_Width;
      var canvas_image_height = HTML_Height;
      var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
      
      html2canvas($(".html-content")[0]).then(function (canvas) {
          var imgData = canvas.toDataURL("image/jpeg", 1.0);
          var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
          pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
          for (var i = 1; i <= totalPDFPages; i++) { 
              pdf.addPage(PDF_Width, PDF_Height);
              pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
          }
          pdf.save("Sales Report.pdf");
         
      });
      
  }
  </script>
    <script>
        const a = parseInt(document.getElementById('ordered').value)
        const b = parseInt(document.getElementById('packed').value)
        const c = parseInt(document.getElementById('shipped').value)
        const d = parseInt(document.getElementById('delivered').value)
        const e = parseInt(document.getElementById('cancelled').value)

        const data = {
            labels: [
                'Ordered',
                'Packed',
                'Shipped',
                'Delivered',
                'Cancelled'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [a, b, c, d, e],
                backgroundColor: [
                    'rgb(255,255,0)',
                    'rgb(128,128,128)',
                    'rgb(54, 162, 235)',
                    'rgb(0, 255, 0)',
                    'rgb(255, 0, 0)'
                ],
                hoverOffset: 4
            }]
        };
        const config = {
            type: 'doughnut',
            data: data,
        };
        const orderStatusCart = new Chart(
            document.getElementById('orderStatusChart'),
            config
        )
    </script>
</body>

</html>